body{
    background-image: url(../Claudio-s-Project-Portfolio/Images/coding\ straight.jpg);
    background-size: cover;
}

header {
    height: 150px;
    /* background: linear-gradient(black white); */
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); */
}

header h1 {
    display: inline-block;
    padding:15;
    margin: 10px;
    font-size: 48px;
    color: black;
    -webkit-text-stroke:2px white;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#name{
border-radius: 25px;
border: whitesmoke solid 5px;
background: #000000;
padding: 20px; 
width: 350px;
height: 50px;
}

.topLink{
    -webkit-text-stroke:2px white;
    text-decoration: none;
    font-size: 48px;
    border-radius: 25px;
    border: whitesmoke solid 5px;
    background: #000000;
    padding: 20px; 
    width: 350px;
    height: 50px;
}

.selfie{
    /* display: inline; */
    position: relative;
    border-radius: 50%;
    border: solid whitesmoke 5px;
    height: 250px;
    /* margin-bottom: 20px; */
}

/* .topBackground { */
    /* position: absolute; */
    /* height: 400px; */
    /* width: 100%; */
    /* margin-bottom: 25px */
    /* margin: 0; */
    /* border: 0; */
    /* padding: 0; */
    /* background-image: url(../Claudio-s-Project-Portfolio/Images/pencilbackground.jpg); */
    /* background-size: cover; */
    /* background-position: 0% 90%; */
    /* background-repeat: no-repeat; */
    /* background-image: url(../Claudio-s-Project-Portfolio/Images/coding\ straight.jpg); */
    /* background-repeat: no-repeat; */
    /* background-position: 0% 50%; */
/* } */

#quote{
    position: relative;
    top: -180px;
    left:520px;
    color: white;
    font-size: 24px;
    border-radius: 25px;
    border: 5px whitesmoke solid;
    background: black;
    padding: 10px;
    width: 850px;
}

#bioGrid{
    /* background: rgb(0, 0, 0); */
    /* background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%); */
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 51%, rgba(0,18,255,1) 100%); */
    display: grid;
grid-template-rows: 300px 300px 300px;
grid-template-columns: 30% 70%;
grid-template-areas: 
"aboutMe infoMe"
"work projects"
"contactMe deets";
}

.headings{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: whitesmoke solid 5px;
    background: #000000;
    font-size: 20px;
    padding: 20px; 
    width: 200px;
    height: 50px;
    padding-right: 10px;
    color: whitesmoke;
}

#aboutMe{
    grid-area: aboutMe;
    /* border-right: 3px solid rgb(255, 255, 255); */
    margin-top: 50px;
}

#infoMe{
    grid-area: infoMe;
    color: whitesmoke;
    border-radius: 25px;
    padding: 10px;
    border: whitesmoke solid 5px;
    background: #000000;
    margin-bottom: 50px;
    /* height: 80px; */
}

#work{
    grid-area: work;
    /* border-right: 3px solid rgb(255, 255, 255) */
    margin-top: 250px;
}

#projects{
    grid-area: projects;
}

#contactMe{
    grid-area: contactMe;
    margin-top: 400px;

    /* border-right: 3px solid rgb(255, 255, 255) */
}

#deets{
    grid-area: deets;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: whitesmoke 5px solid; */
    /* border-radius: 25px; */
    /* background-color: rgb(63, 6, 6); */
    color: whitesmoke;
    list-style-type: none;
    padding: 100px;
    margin-top: 350px;
}

main nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.bottomLink{
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    border: whitesmoke solid 5px;
    background: #000000;
    padding: 20px; 
    width: 250px;
    height: 50px;
}

.projectPort{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    /* "projOne projOne" */
    "projOne projOne"
    "projTwo projThree"
    "projFour projFive";
}

#projOne{
    grid-area: projOne;
    background-image: url(../Claudio-s-Project-Portfolio/Images/Proj1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: 0% 50%; */
    height: 250px;
    margin: 10px;
    border: whitesmoke 5px solid;
    border-radius: 25px;
}


#projTwo{
    grid-area: projTwo;
    background-image: url(../Claudio-s-Project-Portfolio/Images/Proj2.png);
    background-size:cover;
    background-position: 0% 50%;
    height: 125px;
    margin: 10px;
    border: whitesmoke 5px solid;
    border-radius: 25px;
    color: rgb(0, 0, 0);
}
    
#label1{
    position: absolute;
    bottom: 30px;
    left: -15px;
    color:whitesmoke;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    border: whitesmoke solid 5px;
}

#label2{
    position: absolute;
    bottom: -120px;
    left: -15px;
    color:whitesmoke;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    border: whitesmoke solid 5px;
}

#label3{
    position: absolute;
    bottom: -120px;
    right: 295px;
    color:whitesmoke;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    border: whitesmoke solid 5px;
}

#projThree{
    grid-area: projThree;
    border: 1px solid black;
    background-image: url(../Claudio-s-Project-Portfolio/Images/underconstr.jpg);
    background-size: 100%;
    background-position: 0% 50%;
    margin: 10px;
    height: 125px;
    border: whitesmoke 5px solid;
    border-radius: 25px;
}

#projFour{
    grid-area: projFour;
    border: 1px solid black;
    background-image: url(../Claudio-s-Project-Portfolio/Images/underconstr.jpg);
    background-size: 100%;
    background-position: 0% 50%;
    margin: 10px;
    height: 125px;
    border: whitesmoke 5px solid;
    border-radius: 25px;
}

#label4{
    position: absolute;
    bottom: -280px;
    left: -10px;
    color:whitesmoke;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    border: whitesmoke solid 5px;
}

#projFive{
    grid-area: projFive;
    border: 1px solid black;
    background-image: url(../Claudio-s-Project-Portfolio/Images/underconstr.jpg);
    background-size: 100%;
    background-position: 0% 50%;
    margin: 10px;
    height: 125px;
    border: whitesmoke 5px solid;
    border-radius: 25px;
}

#label5{
    position: absolute;
    bottom: -280px;
    right: 295px;
    color:whitesmoke;
    font-size: 24px;
    background-color: black;
    border-radius: 25px;
    border: whitesmoke solid 5px;
}

/* @media only screen and (min-width:320px){

}

@media only screen and (min-width:768px){

}

@media only screen and (min-width:800px){
    
} */